<?xml version="1.0"?>
<config>
    <modules>
        <Meanbee_Feedback>
            <version>1.0.0</version>
        </Meanbee_Feedback>
    </modules>
    <global>
        <blocks>
            <meanbee_feedback>
                <class>Meanbee_Feedback_Block</class>
            </meanbee_feedback>
        </blocks>
        <helpers>
            <meanbee_feedback>
                <class>Meanbee_Feedback_Helper</class>
            </meanbee_feedback>
        </helpers>
        <template>
            <email>
                <meanbee_feedback_email_template translate="label">
                    <label>Customer Feedback Template</label>
                    <file>meanbee/customer_feedback.html</file>
                    <type>html</type>
                </meanbee_feedback_email_template>
            </email>
        </template>
    </global>
    <frontend>
        <layout>
            <updates>
                <meanbee_feedback>
                    <file>meanbee/feedback.xml</file>
                </meanbee_feedback>
            </updates>
        </layout>
        <routers>
            <meanbee_feedback>
                <use>standard</use>
                <args>
                    <module>Meanbee_Feedback</module>
                    <frontName>meanbee_feedback</frontName>
                </args>
            </meanbee_feedback>
        </routers>
    </frontend>
    <default>
        <meanbee_feedback>
            <general>
                <enabled>0</enabled>
            </general>
        </meanbee_feedback>
    </default>
</config>
